{{define "title"}}Home{{end}}
{{define "main"}}

<h2>My activity</h2>

<div class="navbar">
  <a href="/posts/my-posts">You Posted</a>
  <a href="/posts/my-liked">You Liked</a>
  <a href="/posts/my-disliked">You Disliked</a>
  <a href="/posts/my-comments">You Commented</a>
</div>

<!-- <form method="GET">
  <div>
    <label>Categories:</label>
    <input type="checkbox" name="categories" value="1"> A
    <input type="checkbox" name="categories" value="2"> F
    <input type="checkbox" name="categories" value="3"> N
    <input type="checkbox" name="categories" value="4"> G
    <input type="checkbox" name="categories" value="5"> O
  </div>

  <input type="submit" value="Search post by categories">
</form> -->


<!---------------------------------------------------------------------------------------->

{{if .Form}}
{{range .Form}}
<table>
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Created At</th>
  </tr>
  
  <tr>
    <td>{{.PostAuthor}}</td>
    <td><a href='/posts/view?id={{.PostID}}'>{{.PostTitle}}</a></td>
    <td>{{.PostDateStr}}</td>
<tr>
      <td>{{.CommentContent}}</td>
      <td>{{.CommentDateStr}}</td>
    </tr>
  </tr>

  <tr class="spacer"></tr>
  
</table>
{{end}}
{{else}}
<p>There's nothing to see here... yet!</p>
{{end}}
{{end}}