{{define "title"}}Moderators waitlist{{end}}
{{define "main"}}


{{if .Form}}
<table>
  <tr>
    <th>Login</th>
  </tr>
  {{range .Form}}
  <tr>
    <td>{{.Login}}</td>
    <td><form method="post" id="downgrade-role", action="/users/roles/submit/downgrade?moderator_user_id={{.ID}}"><button type="submit">Downgrade</button></form></td>
  </tr>
  <tr class="spacer"></tr>
  {{end}}
</table>
{{else}}
<p>Users not found!</p>
{{end}}
{{end}}