{{define "title"}}Home{{end}}
{{define "main"}}

<h2>Notifications</h2>


<!---------------------------------------------------------------------------------------->

{{if .Form}}
<table>
  <tr>
    <th>Title</th>
    <th>Action</th>
  </tr>
  {{range .Form}}
  <tr>
    <td><a href='/posts/view?id={{.ID}}'>{{.PostTitle}}</a></td>
    <td>{{.Action}}</td>
    <td><form method="post" id="notification-look", action="/notification-look?notification_id={{.ID}}"><button type="submit">Mark as read</button></form></td>
  </tr>
  <tr class="spacer"></tr>
  {{end}}
</table>
{{else}}
<p>There's nothing to see here... yet!</p>
{{end}}
{{end}}