{{define "title"}}Moderators waitlist{{end}}
{{define "main"}}


{{if .Form}}
<table>
  <tr>
    <th>Login</th>
  </tr>
  {{range .Form}}
  <tr>
    <td>{{.Login}}</td>
    <td><form method="post" id="upgrade-role", action="/users/roles/submit/reject?waiting_user_id={{.ID}}"><button type="submit">Reject</button></form></td>
    <td><form method="post" id="upgrade-role", action="/users/roles/submit/approve?waiting_user_id={{.ID}}"><button type="submit">Approve</button></form></td>
  </tr>
  <tr class="spacer"></tr>
  {{end}}
</table>
{{else}}
<p>Users not found!</p>
{{end}}
{{end}}