{{define "title"}}
Forum #{{.Form.ID}}
{{end}}

{{define "main"}}
<div class='snippet'>
  <div class='metadata'>
    <strong>{{.Form.Title}}</strong>
    <span>#{{.Form.Author}}</span>
  </div>
  {{if .Form.FileKey}}
  <div class="post-image">
      <img src="/uploads/{{.Form.FileKey}}" alt="Post Image" style="max-width: 100%; height: auto;">
  </div>
  {{end}}
  <pre><code>{{.Form.Content}}</code></pre>
  <div class='metadata'>
    <time>Created: {{.Form.CreatedAtStr}}</time>
    <span>Tags: {{range .Form.Categories}}#{{.Title}} {{end}}</span>
  </div>
</div>
{{if $.IsAuthN}}
{{if eq .Form.Author $.Login}}
<div class="actions">
  <!-- Кнопка редактирования -->
  <button onclick="openPostEditForm('{{.Form.ID}}', '{{.Form.Content}}')">Edit</button>
  
  <!-- Кнопка удаления -->
  <form action="/delete-post?post_id={{.Form.ID}}" method="POST" style="display:inline;">
    <button type="submit" class="delete-button">Delete</button>
  </form>
</div>
<!-- Форма для редактирования комментария (скрыта по умолчанию) -->
<div id="edit-post-form" style="display:none;">
  <form action="/edit-post?post_id={{.Form.ID}}" method="POST" enctype='multipart/form-data'>
    <input type="hidden" id="edit-post-id" name="edit-post" value="">
    <label for="edit-post-content">Edit your post:</label>
    <textarea id="edit-post-content" name="edit-post-content"></textarea>
    <button type="submit">Save</button>
    <button type="button" onclick="closePostEditForm()">Cancel</button>
  </form>
</div>
{{end}}
{{end}}
<form method="post" action='/posts/reaction?id={{.Form.ID}}'>
  <div class='metadata'>
    <button class="btn reaction-btn-like {{if .Form.Likes.Actioned}}btn-active-like{{end}}" name="action" value="like"
      id="green">
      <i class="fa fa-heart fa-lg" aria-hidden="true"></i>
      <span class="reaction-count">{{.Form.Likes.Actions}}</span>
    </button>

    <button class="btn reaction-btn-dislike {{if .Form.Dislikes.Actioned}}btn-active-dislike{{end}}" name="action"
      value="dislike" id="red">
      <i class="fa fa-heart-broken fa-lg" aria-hidden="true"></i>
      <span class="reaction-count">{{.Form.Dislikes.Actions}}</span>
    </button>
  </div>
</form>

<form method="post" action='/comments?id={{.Form.ID}}'>
  <div class="comment-container">
    <h2>Leave a Comment</h2>
    <textarea id="content" name='content' placeholder="Write your comment here..."></textarea>
    <button id="submitComment">SUBMIT</button>
    <div id="commentList"></div>
  </div>
</form>

{{range .Form.Comments}}
<div class="comment-container">
  <div class="metadata">
    <strong>{{.Author}}</strong>

  </div>
  <pre><code>{{.Content}}</code></pre>
  <div class="metadata">
    <time>Created: {{.CreatedAtStr}}</time>
  </div>

  {{if $.IsAuthN}}
    {{if eq .Author $.Login}}
    <div class="actions">
      <!-- Кнопка редактирования -->
      <button onclick="openCommentEditForm('{{.ID}}', '{{.Content}}')">Edit</button>
      
      <!-- Кнопка удаления -->
      <form action="/delete-cumment?post_id={{.PostID}}&comment_id={{.ID}}" method="POST" style="display:inline;">
        <button type="submit" class="delete-button">Delete</button>
      </form>
        <!-- Форма для редактирования комментария (скрыта по умолчанию) -->
      <div id="edit-comment-form" style="display:none;">
        <form action="/edit-cumment?post_id={{.PostID}}&comment_id={{.ID}}" method="POST">
          <input type="hidden" id="edit-comment-id" name="id" value="">
          <label for="edit-comment-content">Edit your comment:</label>
          <textarea id="edit-comment-content" name="edit-comment-content"></textarea>
          <button type="submit">Save</button>
          <button type="button" onclick="closeCommentEditForm()">Cancel</button>
        </form>
      </div>
    </div>
    {{end}}
  {{end}}
</div>

<form method="post" action='/comments/reaction?post_id={{.PostID}}&comment_id={{.ID}}'>
  <div class='metadata'>
    <button class="btn reaction-btn-like {{if .Likes.Actioned}}btn-active-like{{end}}" name="action" value="like"
      id="green">
      <i class="fa fa-heart fa-lg" aria-hidden="true"></i>
      <span class="reaction-count">{{.Likes.Actions}}</span>
    </button>

    <button class="btn reaction-btn-dislike {{if .Dislikes.Actioned}}btn-active-dislike{{end}}" name="action"
      value="dislike" id="red">
      <i class="fa fa-heart-broken fa-lg" aria-hidden="true"></i>
      <span class="reaction-count">{{.Dislikes.Actions}}</span>
    </button>
  </div>
</form>
{{end}}


<script>
  // Функция для открытия формы редактирования
  function openCommentEditForm(id, content) {
    // Установим данные в форму редактирования
    document.getElementById('edit-comment-id').value = id;
    document.getElementById('edit-comment-content').value = content;

    // Покажем форму редактирования
    document.getElementById('edit-comment-form').style.display = 'block';
  }

  // Функция для закрытия формы редактирования
  function closeCommentEditForm() {
    // Очистим данные формы
    document.getElementById('edit-comment-id').value = '';
    document.getElementById('edit-comment-content').value = '';

    // Скрываем форму
    document.getElementById('edit-comment-form').style.display = 'none';
  }

  // Функция для открытия формы редактирования
  function openPostEditForm(id, content) {
    // Установим данные в форму редактирования
    document.getElementById('edit-post-id').value = id;
    document.getElementById('edit-post-content').value = content;

    // Покажем форму редактирования
    document.getElementById('edit-post-form').style.display = 'block';
  }

  // Функция для закрытия формы редактирования
  function closePostEditForm() {
    // Очистим данные формы
    document.getElementById('edit-post-id').value = '';
    document.getElementById('edit-post-content').value = '';

    // Скрываем форму
    document.getElementById('edit-post-form').style.display = 'none';
  }
</script>

{{end}}